html {
  font-size: 20px;
  text-align: center;
}
.google-fonts {
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

head {
  text-align: center;
  }

body {
    font-family: "Arial", "Meiryo", sans-serif;
    text-align: center;
  }

  h1 {
    font-family: "Josefin Sans", sans-serif;
    font-size: 2rem;
    letter-spacing: 1.2em;
    border-bottom: solid 3px rgb(115, 115, 114)
  
  }
  h1 {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  }
 
  .info p{ 
    font-weight: bold;
  }

  .sky-blue {
    color: skyblue
  }
 
  #sky-blue { 
    color: skyblue;
}
  #rbg { 
    color: rgb(255,192,203);
  }
  .rgb {
    color: rgb(255,192,203);
  }